.container {
  text-align: center;
  padding: 20px;
}

.searchBar {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: wrap; 
}


.filterBar {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.error {
  color: red;
  margin: 10px 0;
}


.bookList {
  margin-top: 20px;
  padding: 10px;
}


.bookCard {
  max-width: 250px;
  margin: auto;
}


@media (max-width: 600px) {
  .searchBar {
    flex-direction: column;
    align-items: center;
  }

  .filterBar {
    flex-direction: column;
    align-items: center;
  }

  .bookCard {
    max-width: 90%;
  }
}
